.presentation {
    text-align: left;
    margin-left: 40px;
}

.presentation h4 {
    font-size: 29px;
    
}

.presentation h1 {
    font-size: 67px;
    margin: 37px 0 37px 0;
}

.presentation p {
    font-size: 29px;
}